
h1{
    padding: 40px;
    font-size: 60px !important;
    text-align: center;
    color: aliceblue;
    background-color:#41484e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }