/* Update your CSS file with these styles */
.about {
  max-width: 900px;
  margin: 0 auto;
  font-size: 22px;
}

.about-content {
  text-align: center;
}

.about-header {
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.about-image {
  float: left;
  margin: 20px 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-para {
  font-size: 17px;
  margin: 20px;
  color: #777;
}
