.tours-header {
  background-color: #1f1e1e5e !important; /* Grey background color */ 
}

.tours-header img {
  padding: 20px;/* Add padding for space around the image */
  border-radius: 50%; /* Make it a circle */
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
}

/* Update your CSS file with these styles */
.tour-item {
  display: flex;
  justify-content: space-between; /* Add this to create space between elements */
  align-items: center;
  border-bottom: 1px solid #ccc; /* Lighter border color */
  padding: 10px;
}

/* Add a container class to center the content */
.tours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}
