.tours{
  width: 900px;
  border: 6px solid rgb(255, 255, 255);
  /* padding: 5px;*/
  margin-left: 360px; 
}

.tours-header {
   padding: 5% !important;
}

.header-title { 
  margin-left: 38% !important;
  color: #070606; /* Change to your preferred text color */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}

.tour-item {
  display: flex;
  justify-content: space-between; /* Add this to create space between elements */
  align-items: center;
  border-bottom: 1px solid #ccc; /* Lighter border color */
  padding: 5px;
}

