
.navbar {
  background-color: #343a40 !important; /* Navbar background color */
  margin-bottom: 0.2%;
}

.logout-button{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-nav {
  font-weight: 600;
  font-size: 17px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto; 
}

.nav-link {
  color: white !important;
  margin: 9px 10px; 
}

.cart {
  position: absolute;
  right: 2%;
}

.nav-link {
  display: flex !important;
  justify-content:center !important;
  align-items:center !important;
}


.modal-header, .modal-footer {
  background-color: #343a40; 
  color: white; 
}

/* Adjust modal position to the left */
.modal-content {
  transform: translateX(100%);
}


