.form h2{
    color: #000;
    font-size: 2rem !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: 700 !important;
    margin-top: 0 !important;
    text-align: center !important;
    /* padding-top: 1% !important; */
  }

  form {
    display: flex !important;
    flex-direction:column !important;
    max-width: 300px !important;
    margin:4% auto !important;
  }
  
  label {
    color: #000 !important;
    margin-bottom: 5px !important;
  }
  
  input {
    margin-bottom: 10px !important;
    padding: 8px !important;
  }
  
  button {
    color: white !important;
    border: none !important;
    padding: 10px !important;
    cursor: pointer !important;
  } 