.auth {
  margin: 3rem auto;
  width: 95%;
  padding: 2% !important;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #1a1919;
  text-align: center;
}


.auth h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 6% !important;
  text-align: center;
  color: white;
}

.auth label {
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;  
  color: rgba(255, 255, 255, 0.961) !important;
}

.auth button {
  cursor: pointer;
  font: inherit;
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.auth button:hover {
  background-color: #dadada;
  border-color: #000000;
}
